@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Luckiest+Guy&family=Metal+Mania&family=Momo+Signature&family=Noto+Sans+Sora+Sompeng:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Rubik+Broken+Fax&family=Sixtyfour&display=swap");

body{
  margin: 0px;
  background-color: #1e293b;
}

.profile{
  margin-top: 0px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px 80px;
}

.title-section {
  margin-left: 95px;
  font-family: 'Righteous';
  color: white;
}